.vscode
.eslintrc.js

*.log

*.zip

node_modules

package-lock.json
yarn.lock

build
materials

src/style/partials/font-icons.scss
src/style/libs/sprite.sass
# src/fonts/icons
src/img/svg/symbols.svg
src/preview/symbols.html
