.icon {
  font-size: 10px;
}

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/svg/sprite.svg");
  background-repeat: no-repeat;
}

.no-svg .icon:before {
  background-image: url("../svg/sprite.png");
}